/* 03_community.css */
/* 아래에 코드를 작성해 주세요. */

* {
  font-family: 'Raleway', sans-serif;
}

body {
  padding-top: 56px;
  padding-bottom: 56px;
}

.navbar-toggler {
  border: 0;
}

footer {
  background-color: black;
  color: white;
  opacity: 0.5;
}